BU Athletics: General Data Cleaning

In [30]:
#Import Data
import pandas as pd
df = pd.read_csv('raw_data.csv')
df.head()

,Student ID & Name,Student Athletic Team 1,Student Athletic Team 2,Student Athletic Team 3,Applied To Year Semester,Student Domestic/International Status,Student World Region of Citizenship,Student Home Admission Publication Region,Student Home State,Student Gender,...,Semester 8 GPI,Semester 8 Cum GPA,Semester 9 GPI,Semester 9 Cum GPA,Semester 10 GPI,Semester 10 Cum GPA,Semester 11 GPI,Semester 11 Cum GPA,Semester 12 GPI,Semester 12 Cum GPA
0,1,Ping Pong,'--,'--,"Fall, 2021",Domestic,Unknown,Midwest,Watermelon,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Quidditch,'--,'--,"Fall, 2023",Domestic,Unknown,Pacific,Broccoli,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Ping Pong,'--,'--,"Fall, 2022",Domestic,Unknown,New England,Grapefruit,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Bowling,'--,'--,"Fall, 2022",Domestic,Unknown,Mid-Atlantic,Lemon,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Roller Derby,'--,'--,"Fall, 2023",Domestic,Unknown,New England,Plum,Male,...,3.5,3.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#Drop Unrelated Column (Student Athletic Team 2 & 3)
df = df.drop(columns=['Student Athletic Team 2', 'Student Athletic Team 3'])
df.head()

,Student ID & Name,Student Athletic Team 1,Applied To Year Semester,Student Domestic/International Status,Student World Region of Citizenship,Student Home Admission Publication Region,Student Home State,Student Gender,Student IPEDS Race Ethnicity,Student Degree Level,...,Semester 8 GPI,Semester 8 Cum GPA,Semester 9 GPI,Semester 9 Cum GPA,Semester 10 GPI,Semester 10 Cum GPA,Semester 11 GPI,Semester 11 Cum GPA,Semester 12 GPI,Semester 12 Cum GPA
0,1,Ping Pong,"Fall, 2021",Domestic,Unknown,Midwest,Watermelon,Female,White,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Quidditch,"Fall, 2023",Domestic,Unknown,Pacific,Broccoli,Male,Asian,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Ping Pong,"Fall, 2022",Domestic,Unknown,New England,Grapefruit,Female,Hispanic/Latino,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Bowling,"Fall, 2022",Domestic,Unknown,Mid-Atlantic,Lemon,Female,White,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Roller Derby,"Fall, 2023",Domestic,Unknown,New England,Plum,Male,White,MASTERS,...,3.5,3.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Make Sure Certain Columns are numerical
columns_to_check = [
    'Primary Enrollment HEGIS',
    'Average Undergraduate Applicant High School GPA',
    'Average ACT Highest Composite Score (Applicants Wanting Test Scores Considered)',
    'Average SAT Highest Composite Score (Applicants Wanting Test Scores Considered)',
    'Semester 1 GPI', 'Semester 1 Cum GPA', 'Semester 2 GPI', 'Semester 2 Cum GPA',
    'Semester 3 GPI', 'Semester 3 Cum GPA', 'Semester 4 GPI', 'Semester 4 Cum GPA',
    'Semester 5 GPI', 'Semester 5 Cum GPA', 'Semester 6 GPI', 'Semester 6 Cum GPA',
    'Semester 7 GPI', 'Semester 7 Cum GPA', 'Semester 8 GPI', 'Semester 8 Cum GPA',
    'Semester 9 GPI', 'Semester 9 Cum GPA', 'Semester 10 GPI', 'Semester 10 Cum GPA',
    'Semester 11 GPI', 'Semester 11 Cum GPA', 'Semester 12 GPI', 'Semester 12 Cum GPA'
]

for column in columns_to_check:
    df[column] = pd.to_numeric(df[column], errors='coerce')

# Step 2: Optional - Check that the columns are now of float type
print(df[columns_to_check].dtypes)

Primary Enrollment HEGIS                                                             int64
Average Undergraduate Applicant High School GPA                                    float64
Average ACT Highest Composite Score (Applicants Wanting Test Scores Considered)    float64
Average SAT Highest Composite Score (Applicants Wanting Test Scores Considered)    float64
Semester 1 GPI                                                                     float64
Semester 1 Cum GPA                                                                 float64
Semester 2 GPI                                                                     float64
Semester 2 Cum GPA                                                                 float64
Semester 3 GPI                                                                     float64
Semester 3 Cum GPA                                                                 float64
Semester 4 GPI                                                                     float64
Semester 4 Cum GPA                                                                 float64
Semester 5 GPI                                                                     float64
Semester 5 Cum GPA                                                                 float64
Semester 6 GPI                                                                     float64
Semester 6 Cum GPA                                                                 float64
Semester 7 GPI                                                                     float64
Semester 7 Cum GPA                                                                 float64
Semester 8 GPI                                                                     float64
Semester 8 Cum GPA                                                                 float64
Semester 9 GPI                                                                     float64
Semester 9 Cum GPA                                                                 float64
Semester 10 GPI                                                                    float64
Semester 10 Cum GPA                                                                float64
Semester 11 GPI                                                                    float64
Semester 11 Cum GPA                                                                float64
Semester 12 GPI                                                                    float64
Semester 12 Cum GPA                                                                float64
dtype: object

In [33]:
#Save the most generally cleaned data into a separate CSV
df.to_csv('cleaned_data.csv', index=False)

In [20]:
#Check for rows where "High School GPA" are null and remove it
df_cleaned = df.dropna(subset=['Average Undergraduate Applicant High School GPA'])
df_cleaned.to_csv('data_with_high_school_gpa.csv', index=False)
df_cleaned.head()

,Student ID & Name,Student Athletic Team 1,Applied To Year Semester,Student Domestic/International Status,Student World Region of Citizenship,Student Home Admission Publication Region,Student Home State,Student Gender,Student IPEDS Race Ethnicity,Student Degree Level,...,Semester 8 GPI,Semester 8 Cum GPA,Semester 9 GPI,Semester 9 Cum GPA,Semester 10 GPI,Semester 10 Cum GPA,Semester 11 GPI,Semester 11 Cum GPA,Semester 12 GPI,Semester 12 Cum GPA
0,1,Ping Pong,"Fall, 2021",Domestic,Unknown,Midwest,Watermelon,Female,White,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Quidditch,"Fall, 2023",Domestic,Unknown,Pacific,Broccoli,Male,Asian,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Ping Pong,"Fall, 2022",Domestic,Unknown,New England,Grapefruit,Female,Hispanic/Latino,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Bowling,"Fall, 2022",Domestic,Unknown,Mid-Atlantic,Lemon,Female,White,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Curling,"Fall, 2023",Domestic,Unknown,Mid-Atlantic,Blueberry,Male,African American or Black,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#Check if the student has an ACT/SAT score
df_with_scores = df_cleaned[df_cleaned['Average ACT Highest Composite Score (Applicants Wanting Test Scores Considered)'].notna() |
                           df_cleaned['Average SAT Highest Composite Score (Applicants Wanting Test Scores Considered)'].notna()]

df_without_scores = df_cleaned[
    df_cleaned['Average ACT Highest Composite Score (Applicants Wanting Test Scores Considered)'].isna() &
    df_cleaned['Average SAT Highest Composite Score (Applicants Wanting Test Scores Considered)'].isna()
]

df_with_scores.to_csv('students_with_ACT_SAT_scores.csv', index=False)
df_without_scores.to_csv('students_without_ACT_SAT_scores.csv', index=False)

In [22]:
# Printing the range (min and max) of the 'Average Undergraduate Applicant High School GPA' column
gpa_column = 'Average Undergraduate Applicant High School GPA'
gpa_range = (df_cleaned[gpa_column].min(), df_cleaned[gpa_column].max())

gpa_range

(2.3, 4.3)

In [27]:
#Categorize based on high school GPA range
high_school_gpa_ranges = [
    (2.0, 3.5),
    (3.5, 4.0),
    (4.0, 4.5)
]

for i, (low, high) in enumerate(high_school_gpa_ranges, 1):
    # Filter rows where GPA falls within the current range
    df_gpa_range = df_cleaned[(df_cleaned['Average Undergraduate Applicant High School GPA'] >= low) &
                              (df_cleaned['Average Undergraduate Applicant High School GPA'] < high)]
    
    # Save the filtered data to a CSV
    df_gpa_range.to_csv(f'high_school_gpa_rank_{i}.csv', index=False)
    
    # Separate those with ACT/SAT scores and without ACT/SAT scores
    df_with_scores = df_gpa_range[df_gpa_range['Average ACT Highest Composite Score (Applicants Wanting Test Scores Considered)'].notna() |
                           df_gpa_range['Average SAT Highest Composite Score (Applicants Wanting Test Scores Considered)'].notna()]
    df_without_scores = df_gpa_range[df_gpa_range['Average ACT Highest Composite Score (Applicants Wanting Test Scores Considered)'].isna() &
                                     df_gpa_range['Average SAT Highest Composite Score (Applicants Wanting Test Scores Considered)'].isna()]
    
    # Save the filtered data to a CSV
    df_with_scores.to_csv(f'high_school_gpa_rank_with_scores_{i}.csv', index=False)
    df_without_scores.to_csv(f'high_school_gpa_rank_without_scores_{i}.csv', index=False)

In [28]:
#Leave only undergrad stats
filtered_df = df[df['Student Degree Level'] != 'UNDERGRAD']
filtered_df.to_csv('Non-undergrad_data.csv', index=False)
df = df[df['Student Degree Level'] == 'UNDERGRAD']
df.head()

,Student ID & Name,Student Athletic Team 1,Applied To Year Semester,Student Domestic/International Status,Student World Region of Citizenship,Student Home Admission Publication Region,Student Home State,Student Gender,Student IPEDS Race Ethnicity,Student Degree Level,...,Semester 8 GPI,Semester 8 Cum GPA,Semester 9 GPI,Semester 9 Cum GPA,Semester 10 GPI,Semester 10 Cum GPA,Semester 11 GPI,Semester 11 Cum GPA,Semester 12 GPI,Semester 12 Cum GPA
0,1,Ping Pong,"Fall, 2021",Domestic,Unknown,Midwest,Watermelon,Female,White,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Quidditch,"Fall, 2023",Domestic,Unknown,Pacific,Broccoli,Male,Asian,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Ping Pong,"Fall, 2022",Domestic,Unknown,New England,Grapefruit,Female,Hispanic/Latino,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Bowling,"Fall, 2022",Domestic,Unknown,Mid-Atlantic,Lemon,Female,White,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Curling,"Fall, 2023",Domestic,Unknown,Mid-Atlantic,Blueberry,Male,African American or Black,UNDERGRAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Separate International Student for future use
international_df = df[df['Student Domestic/International Status'] == 'International']
international_df = international_df.drop(columns=['Student Home Admission Publication Region', 'Student Home State', 'Student IPEDS Race Ethnicity'])
international_df.to_csv('International_student_data.csv', index=False)
domestic_df = df[df['Student Domestic/International Status'] == 'Domestic']
domestic_df = domestic_df.drop(columns=['Student World Region of Citizenship'])
domestic_df.to_csv('Domestic_student_data.csv', index=False)